tqdm==4.50.2
imbalanced_learn==0.9.1
torchaudio==0.13.0
torch==1.7.0+cu110
requests==2.22.0
matplotlib==3.5.3
torchsummary==1.5.1
pandas==0.25.3
labml_nn==0.4.118
pyFFTW==0.12.0
umap_learn==0.5.1
torchinfo==0.0.9
numpy==1.18.4
h5py==2.10.0
scipy==1.7.0
librosa==0.8.0
imblearn==0.0
nnAudio==0.3.2
pyaudio==0.2.12
scikit_learn==1.1.3
atlas==0.27.0
typing==3.10.0.0
umap==0.1.1
